<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      .content img {
        float: left;
        padding: 10px;
        clear: both;
      }

     .container:first-child {
        margin-top: 56px;
      }
    </style>
  </head>

  <body class="bg-inverse">

    <div class="container">

      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">{{ site.title }}</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.amazon.com/Suzannah-Rowntree/e/B00CXZM07Q/?&_encoding=UTF8&tag=suzannahsite-20&linkCode=ur2&linkId=ff90d52f2bac1a46cf729e8e81e662a9&camp=1789&creative=9325">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.vintagenovels.com/">Vintage Novels</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <div class="col col-lg-6 col-xl-5">
          <a class="media-left" href="/">
            <img class="media-object rounded" src="/images/{{ page.img }}" alt="{{ site.title }}">
          </a>
        </div>
        <div class="col text-white">
          <h4 class="media-heading">{{ page.title }}</h4>
          {{ content }}
        </div>
      </div>
    </div>

    {% for book in site.books %}
    <div class="container-fluid py-2" style="background: #FFFFFF url(/images/backgrounds/{{ book.background }})">
      <div class="container bg-faded rounded py-1">
        {% if book.image %}
          <figure class="figure float-left">
            <img class="d-flex mr-3 align-self-start" src="/images/books/{{ book.image }}" alt="{{ book.title }}">
          </figure>
        {% endif %}

        <h4>{{ book.title }}</h4>
        <div class="content">{{ book.content }}</div>
      </div>
    </div>
    {% endfor %}

    <div class="container">
      <div class="navbar navbar-inverse">
        <a class="navbar-brand text-white">
          &copy; {{ site.title }}
        </a>
      </div>
    </div>

    <script src="https://use.fontawesome.com/1b46d9b8fe.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-28842361-3', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
